// Variables

// Color palette
$primary: #022F40;
$text: #011117;
$white: #FFFFFF;
$primary-grey: #A3A3A3;
$orange-accent: #F9AB55;

// Other colors
$error: #A51111;

// Font sizes
$font-tiny: 11px;
$font-small: 12px;
$font-regular: 14px;
$font-medium: 16px;
$font-big: 18px;
$font-huge: 20px;

// Font weights
$thin: 400;
$thick: 700;
$bold: 900;
