// Variables

// Color palette
$primary: #022F40;
$text: #011117;
$white: #FFFFFF;
$primary-grey: #A3A3A3;
$lighter-grey: #C4C4C4;
$very-light-grey: #E4E4E4;
$orange-accent: #F9AB55;
$lighter-orange: #FBCD99;

// Other colors
$delete: #EA3434;
$error: #A51111;

// Font sizes
$font-tiny: 11px;
$font-small: 12px;
$font-regular: 14px;
$font-medium: 16px;
$font-big: 18px;
$font-huge: 20px;
$font-huge2: 22px;

// Font weights
$thin: 400;
$thick: 700;
$bold: 900;
