@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import 'variables';

* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
    box-sizing: border-box;
}

body, button, a, input, textarea, select {
    font-family: 'Poppins', sans-serif;
    color: $text;
}

body {
    overflow: hidden;
}

.error__message {
    font-size: $font-small;
    color: $error;
    font-style: italic;
}

#sign-in__container,
#sign-up__container {
    display: flex;
    flex-direction: row;
}

#sign-in__form__container,
#sign-up__form__container {
    height: 100vh;
    width: 60%;

    #sign-in__wrapper,
    #sign-up__wrapper {
        height: 100%;

        .form__container {
            height: calc(100% - 63px);
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 20px auto;
        
            .header--h1 {
                font-size: 70px;
                font-weight: $bold;
                margin-bottom: 20px;
                width: 100%;
            }

            .sign-in__form,
            .sign-up__form,
            .sign-up__final-step {
                width: 100%;
            }

            .sign-up__form__subheaders {
                margin-bottom: 20px;

                .sign-up__form__subheader,
                .sign-up__form__subheader__small {
                    font-size: $font-medium;
                    font-weight: $thin;
                    font-style: italic;
                }
                .sign-up__form__subheader__small {
                    font-size: $font-tiny;
                }
            }

            .required-field__span {
                font-weight: $thick;
                font-size: $font-small;
            }

            .sign-up__form__btns {
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.app__container {
    display: flex;
    flex-direction: row;

    .app__container__topbar-and-content {
        display: flex;
        flex-direction: column;

        .app__content {
            margin: 10px 35px;
            height: calc(100vh - 138px);
        }
    }
}

#dashboard__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
    height: 100%;
}

#dashboard__first-half {
    width: 60%;
    margin: 0 20px;
    overflow: hidden;
    
    .section__link {
        cursor: default;
    }
}

#dashboard__second-half {
    width: 40%;
    margin: 0 20px;
    
    .section__link {
        cursor: default;
    }
}

#documents__content,
#admin-panel__users__content {
    width: calc(100vw - 20em);
    height: 40em; 
    max-width: calc(100vw - 20em);
    max-height: 40em;
    margin: 0 auto;
    display: inline-block;
}

