@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import '_variables';

* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
}

body, button, a, input, textarea, select {
    font-family: 'Poppins', sans-serif;
}

.form__container {
    display: flex;
    flex-direction: column;
    margin: 100px 200px 50px;

    .header--h1 {
        font-size: 70px;
        font-weight: 700;
        margin-bottom: 20px;
    }
}
