@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import '_variables';

* {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    list-style-type: none;
    text-decoration: none;
    text-transform: none;
}

body, button, a, input, textarea, select {
    font-family: 'Poppins', sans-serif;
}

#sign-in__container,
#sign-up__container {
    display: flex;
    flex-direction: row;
}

#sign-in__form__container,
#sign-up__form__container {
    height: 100vh;
    width: 60%;

    .form__container {
        display: block;
        margin: 100px 25% 50px;
    
        .header--h1 {
            font-size: 70px;
            font-weight: $bold;
            margin-bottom: 20px;
        }

        .sign-up__form__subheaders {
            margin: 0 0 20px;

            .sign-up__form__subheader,
            .sign-up__form__subheader__small {
                font-size: $font-medium;
                font-weight: $thin;
                font-style: italic;
            }
            .sign-up__form__subheader__small {
                font-size: $font-tiny;
            }
        }

        .required-field__span {
            font-weight: $thick;
            font-size: $font-small;
        }

        .sign-up__form__btns {
            display: flex;
            justify-content: space-between;
        }
    }
}

