@import '../../../_variables';

.input-field__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
        color: $text;
        font-weight: $bold;
        font-size: $font-medium;
        margin-bottom: 5px;
    }

    .input-field__password-text {
        font-size: $font-small;
        color: $primary-grey;
        font-style: italic;
    }

    input {
        padding: 15px;
        border-radius: 10px;
        border: 2px solid $primary-grey;
        margin: 5px 0;
        outline: none;
        transition: all 0.1s ease;
    }
    input:focus {
        border: 2px solid $primary;
    }
    input.input-field__invite-users {
        margin-right: 20px;
    }
    input.input-field__invalid {
        border: 2px solid $error;
    }
}
