@import '../../../variables';

.select-field__container {
    width: 50%;
    display: flex;
    flex-direction: column;

    label {
        color: $text;
        font-weight: $bold;
        font-size: $font-medium;
        margin-bottom: 5px;
    }
    select {
        background: url(../../../static/expand_more.svg) no-repeat;
        background-position: right 10px center;
        -moz-appearance: none; 
        -moz-appearance: none; 
        -webkit-appearance: none; 
        appearance: none;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid $primary-grey;
        margin: 5px 0 20px;
        
        transition: all 0.1s ease;

        option {
            padding: 15px;
        }
    }
    select:focus {
        border: 2px solid $primary;
        background: url(../../../static/expand_less.svg) no-repeat;
        background-position: right 10px center;
    }
}
