@import '../../../../variables';

#sign-up__form__name {
    display: flex;
    justify-content: space-between;

    .input-field__container:nth-child(1) {
        margin-right: 5%;
    }
}

@media all and (max-width: 1240px) {
    #sign-up__form__name {
        flex-direction: column;
    }
}
