@import '../../../variables';

#dashboard__second-half {
    .member__section {
        position: relative;
        padding: 20px 130px;

        .member__info {
            top: -215px;
            left: 66px;
        }
    }
}

.team__members__container {
    position: relative;
    max-height: calc(100% - 80px);
    height: calc(100% - 80px);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9000;

    .team__members {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        
        .member__section {
            position: relative;
            margin: 20px;

            .member__card {
                height: 20em;
            }
        }
    }
}


.member__card {
    border: 1px solid $very-light-grey;
    box-shadow: 0px 1px 4px 1px $very-light-grey;
    border-radius: 32px;
    height: 25em;
    cursor: pointer;

    .member__card__photo__container {
        border-top-right-radius: 32px;
        border-top-left-radius: 32px;
        height: 60%;
        overflow: hidden;

        .member__card__photo__img {
            width: 100%;
            height: 100%;
        }
        .img--no-picture {
            background-image: url(../../../static/no-image-user.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .member__card__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40%;
        padding: 1.5em 1.5em 2.5em;

        .member__card__info__name {
            font-weight: $bold;
            font-size: $font-medium;
            text-decoration-line: underline;
        }

        .member__card__info__job-title {
            font-weight: $thin;
            font-size: $font-regular;
        }

        .member__card__info__contact {
            display: flex;
            align-items: center;
            background-color: $primary;
            border: 1px solid $primary;
            border-radius: 15px;
            color: $white;
            padding: 5px 15px;
            margin-top: 10px;
            
            cursor: pointer;

            svg {
                margin-left: 10px;
                font-size: $font-regular;
            }
        }
    }
}

.member__card:hover + .member__info,
.member__info:hover {
    display: block;
}

.member__info {
    display: none;
    border: 1px solid $very-light-grey;
    border-radius: 32px;
    background-color: $white;
    position: absolute;
    top: -20px;
    left: -40px;
    width: 17em;
    padding: 2em;
    z-index: 1000;

    .arrow {
        position: absolute;
        right: 8em;
        bottom: -8px;
        background-image: url(../../../static/dialog-arrow.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 1em;
        height: .5em;
        z-index: -1;
    }

    p {
        display: flex;
        flex-direction: column;
        font-size: $font-regular;

        span {
            margin-top: 10px;
            width: auto;
            
            b {
                margin-right: 10px;
            }
        }
        span:first-of-type {
            margin-top: 0;
        }
        span:last-of-type {
            display: flex;
            flex-direction: column;
        }
    }
}


@media all and (max-width: 1750px) {
    #dashboard__second-half .member__section {
        padding: 20px 100px;
    }
}

@media all and (max-width: 1650px) {
    #dashboard__second-half .member__section {
        padding: 20px 90px;
    }
}

@media all and (max-width: 1560px) {
    #dashboard__second-half .member__section {
        padding: 20px 70px;
    }
}

@media all and (max-width: 1360px) {
    #dashboard__second-half .member__section {
        padding: 20px 50px;
    }
}

@media all and (max-width: 1150px) {
    #dashboard__second-half .member__section {
        padding: 20px 30px;
    }
}

@media all and (max-width: 1000px) {
    #dashboard__second-half .member__section {
        padding: 20px 0;
    }
}

