@import '../../../variables';

.add-btn__container {
    display: flex;
    align-items: center;
    background-color: $orange-accent;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 10px 20px;
    margin: 30px 20px 0;
    
    cursor: pointer;

    span {
        margin-right: 10px;
        font-size: $font-regular;
        font-weight: $thick;
    }

    svg {
        font-size: $font-medium;
        font-weight: $bold;
    }
}

.add-btn__container:hover {
    background-color: darken($orange-accent, 5%);
}

.add-btn__container:focus {
    background-color: darken($orange-accent, 7%);
}
