@import '../../../variables';

.actions__container {
    position: relative;

    .actions__icon {
        cursor: pointer;
        display: flex;
        align-self: center;
    }

    .actions__wrapper {
        position: absolute;
        top: 0;
        left: 5px;

        .actions__wrapper__internal {
            position: relative;

            .arrow {
                position: absolute;
                top: 4px;
                left: -13px;
                background-image: url(../../../static/dialog-arrow-right.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: .6em;
                height: 1em;
                z-index: 9;
            }

            .actions__modal {
                position: absolute;
                top: -35px;
                left: -120px;
                display: flex;
                flex-direction: column;
                align-items: center;
                z-index: 10;
                background-color: $white;
                border: 1px solid $very-light-grey;
                border-radius: 20px;
                box-shadow: -1px 1px 5px 1px $very-light-grey;

                span {
                    padding: 10px 25px;
                    margin: 0 5px;
                    cursor: pointer;
                    font-size: $font-regular;
                    font-weight: $thick;
                }
                span:first-of-type {
                    border-bottom: 1px solid $very-light-grey;
                }
            }
        }
    }
}

.actions__btns__wrapper {
    display: flex;
    flex-direction: row;

    .action__btn {
        display: flex;
        text-align: center;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: transparent;
        padding: 5px;
        letter-spacing: 0.8px;
        cursor: pointer;
        

        svg {
            font-size: $font-huge;
            color: $text;
        }
    }

    .edit__btn:hover svg {
        color: $orange-accent;
    }

    .delete__btn:hover svg {
        color: $delete;
    }
}
