@import '../../../variables';

.actions__container {
    position: relative;
    display: flex;
    align-self: center;

    .actions__icon {
        cursor: pointer;
        display: flex;
        align-self: center;
        
        svg {
            font-size: $font-medium;
        }
    }
}
.actions__container:hover svg {
    color: $orange-accent;
}

.actions__btns__wrapper {
    display: flex;
    flex-direction: row;

    .action__btn {
        display: flex;
        text-align: center;
        margin: 0;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: transparent;
        padding: 5px;
        letter-spacing: 0.8px;
        cursor: pointer;
        

        svg {
            font-size: $font-huge;
            color: $text;
        }
    }

    .edit__btn:hover svg {
        color: $orange-accent;
    }

    .delete__btn:hover svg {
        color: $delete;
    }
}
