@import '../../../variables';

.progress__circles__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;

    .progress__company,
    .progress__employee {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 30%;

        .progress__circle {
            width: 13px;
            height: 13px;
            border: 1px solid #A3A3A3;
            border-radius: 26px;
        }
        .progress__circle--active {
            background: #022F40;
            border: 1px solid #011117;
        }
        .progress__circle--previous {
            background: #011117;
            border: 1px solid #011117;
        }
    }
}
