@import '../../../variables';

.table__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;

    table {
        width: 100%;

        tr {
            display: flex;
            justify-content: flex-start;
            padding: 10px;

            th, td {
                display: flex;
                align-items: center;
                width: 15rem;
                padding: 0 20px;
                text-align: left;
                font-size: $font-regular;
            }

            td {
                word-break: break-word;
            }

            td:last-of-type {
                display: flex;
                margin-left: auto;
                justify-content: flex-end;
                align-items: center;
                width: auto;
            }
        }

        tbody tr:nth-child(odd) {
            background-color: $very-light-grey;
        }
    }
}
