@import '../../../variables';

.form__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    background-color: transparentize($primary-grey, 0.3);

    .form {
        width: 25em;
        padding: 30px;
        margin-left: 19em;
        background-color: $white;
        border: 1px solid transparent;
        border-radius: 30px;

        .form__header {
            font-size: $font-huge2;
            font-weight: $bold;
            margin-bottom: 30px;
        }

        .form__header__delete {
            text-align: center;
            font-size: $font-huge2;
            font-weight: $bold;
            margin-bottom: 30px;
        }

        .form__btns {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                font-size: $font-regular;
                margin: 0;
            }
        }
    }
}

