@import '../../../variables';

#section-bar {
    #section-bar__main-bar {
        border-bottom: 1px solid lighten($primary-grey, 20%);
        width: 100%;
    }

    .section-bar__link {
        margin: 0 20px;
        display: inline-flex;

        .section__link {
            display: inline-table;
            font-size: $font-regular;
            font-weight: $thick;
            padding: 0 10px 10px;
        }
    }
    .section-bar__link--active {
        border-bottom: 3px solid $orange-accent;
    }
}
