@import '../../../_variables';

.regular-button__container {
    display: flex;
    justify-content: flex-end;

    .btn--dark-blue,
    .btn--orange-accent {
        margin: 20px 0 0 0;
        font-weight: $bold;
        padding: 7px 20px;
        border-radius: 10px;
        outline: none;
        font-size: $font-medium;
        cursor: pointer;
        transition: all 0.1s ease;
    }

    .btn__sign {
        position: absolute;
        right: 20px;
    }

    .btn--dark-blue {
        background-color: $white;
        border: 2px solid $primary-grey;
        color: $text;
    }
    .btn--dark-blue:hover {
        background-color: darken($white, 5%);
    }
    .btn--dark-blue:focus {
        background-color: darken($white, 10%);
        border: 2px solid $primary;
    }

    .btn--orange-accent {
        background-color: $orange-accent;
        border: 2px solid $orange-accent;
        color: $text;

        &:disabled {
           background-color: lighten($orange-accent, 10%);
           color: darken($primary-grey, 20%);
           cursor: default;
        }
    }
    .btn--orange-accent:hover {
        background-color: darken($orange-accent, 5%);
        border: 2px solid darken($orange-accent, 5%);

        &:disabled {
           background-color: lighten($orange-accent, 10%);
           color: darken($primary-grey, 20%);
           cursor: default;
        }
    }
    .btn--orange-accent:focus {
        background-color: darken($orange-accent, 10%);
        border: 2px solid darken($orange-accent, 10%);

        &:disabled {
           background-color: lighten($orange-accent, 10%);
           color: darken($primary-grey, 20%);
           cursor: default;
        }
    }

    .btn--long {
        width: 100%;
        padding: 10px 20px;
        margin: 20px 0 0 0;
    }
    
    .btn__invite {
        margin-top: 15px;
        padding: 12px 20px;
    }
}
