@import '../../../../variables';

.sign-up__form__invite-users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sign-up__form__invited-users {
    height: 100px;
    max-height: 100px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid $primary-grey;
    margin: 5px 0 20px;
    outline: none;
    overflow-y: scroll;

    li {
        margin: 0 20px;
        list-style-type: circle;
    }
}
